- if @ver == 1
  %p
    %a{href: "/domCS-CS55.html"}
      CS-CS5.5のオブジェクトモデル図（JavaScript）を開く
  %p
    %a{href: "http://indesign.cs5.xyz/dom_about.html", target: "_blank"}
      オリジナル（ディザInDesign）

- if @ver == 2
  %p
    %a{href: "/dom/domtree.html"}
      InDesignオブジェクトモデル図 CS5-CC2015 ベータ版を開く
  %p
    %a{href: "http://indesign.cs5.xyz/dom/about.html", target: "_blank"}
      オリジナル（ディザInDesign）